.validate__section-middle {
  justify-items: center;
  background-color: var(--background-secondary-light);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 50px;
}
.validate__section-middle__wrapper > h1 {
  font-size: x-large;
  color: var(--text-primary);
}
.validate__section-middle__wrapper > p {
  margin-top: 30px;
}

.validate__section-middle > .loading-container {
  height: 400px;
}

.validate__section-middle > .loading-container > .spinner {
  width: 150px;
  height: 150px;
}

@media (max-width: 1024px) {
  .validate__section-middle {
    padding: 40px 20px;
  }
}