.validate__section-middle {
  justify-items: center;
  background-color: var(--background-secondary-light);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px 20px;
}
.validate__section-middle__wrapper > h1 {
  font-size: x-large;
  color: var(--text-primary);
}

.loading-container {
  height: 400px;
}

.loading-container > .spinner {
  width: 150px;
  height: 150px;
}
