.card-section__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5px;
}

.card-footer__email {
    max-width: 300px;
    overflow-wrap: break-word;
}

.card-footer__email dd {
    font-size: 13px;
}

.card-footer__qrcode {
    width: 60px;
}
