.main-content-right__wrapper {
  flex-grow: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}

.clipboard-tooltip {
  width: fit-content;
}

.main-content-right__wrapper > .loading-container {
  width: 400px;
  height: 250px;
  padding: 20px;
}
