.card-wrapper {
  background-color: var(--white);
  width: 400px;
  height: 250px;
  border: 2px solid var(--coral);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}