.logged-out__container {
    width: 50%;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px 50px;
    min-height: 250px;
}

.logged-out_left, .logged-out_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}

.logged-out_left {
    justify-content: flex-start;
    align-items: flex-start;
}

.logged-out_right {
    justify-content: flex-end;
    align-items: flex-end;
}

