.logged-out-container {
    width: 60%;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding: 30px 50px;
    min-height: 250px;
    gap: 10px;
}

@media screen and (max-width: 1025px) {
    .logged-out-container {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 1026px) and (max-width: 1200px) {
    .logged-out-container {
        width: 90%;
    }
}