.cta {
  color: var(--text-tertiery-light);
  border-radius: 50px;
  padding: 5px 35px;
  max-width: fit-content;
  cursor: pointer;
  border: none;
}

.cta.primary {
  background-color: var(--button-primary);
}

.cta.primary:hover {
  background-color: var(--button-primary-hover);
}

.cta.secondary {
  background-color: var(--button-secondary);
}

.cta.secondary:hover {
  background-color: var(--button-secondary-hover);
}

.cta.info {
  background-color: var(--button-info);
}

.cta.info:hover {
  background-color: var(--button-info-hover);
}

.cta.danger {
  background-color: var(--button-danger);
}

.cta.danger:hover {
  background-color: var(--button-danger-hover);
}

.cta.success {
  background-color: var(--button-success);
}

.cta.success:hover {
  background-color: var(--button-success-hover);
}

.cta:disabled,
.cta.disabled {
  background-color: var(--button-disabled);
  cursor: not-allowed;
  color: var(--button-disabled-text);
}