.card-section__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer__validity {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.card-footer__qrcode {
  width: 80px;
}
