.logged-out__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 20px;
    width: 100%;
    text-align: justify;
    height: 100%;
}