.card-section__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-body__img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.card-body__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr 4fr);
    gap: 5px;
}

.card-body__email {
    color: var(--coral);
}

.card-body__info dt {
    font-weight: 600;
    font-size: 12px;
}

.card-body__info dd {
    font-size: 13px;
}