.validate {
  display: flex;
  flex-direction: column;
  height: 100svb;
  background-color: var(--background-primary-light);
}

.validate__content {
  padding: 10px 2%;
}


@media (min-width: 1024px) {
  .validate__content {
    padding: 20px 25%;
  }
}
