.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-primary-light);
}

@media screen and (max-width: 1025px) {
  .root {
    width: 100%;
    overflow: hidden;
  }
}
