.body {
  background-color: #252422;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 1536px;
  height: 70vh;
  overflow: hidden;
}
