:root{
    --white: #ffffff;
    --beige: #FFFCF2;
    --light-gray: #ddd;
    --medium-gray: #403d39;
    --dark-gray: #2b2b2c;
    --coral: #FE9087;
    --blue: #1875FF;
    --green: #218838;
    --coral-light: rgba(254, 144, 135, 0.1);
}